body{
    font-family: "Montserrat";
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
}


h3{
    font-weight: 700;
}

.container-fluid{
    padding: 7% 15%;
}

/* Headings */

.title-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.feature-head{
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 700;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* Title */

#title{
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.iphone-img{
    position: absolute;
    right: 25%;
    width: 20%;
    transform: rotate(25deg);
}

@media (max-width: 992px){
    .iphone-img{
        transform: rotate(0);
        position: static;
        width: 50%;
    }
    .container-fluid{
        text-align: center;
    }
}

/* Download Buttons */

.download-btn{
    margin: 5% 3% 5% 0;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    position: relative;
    right: 8px;
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}

.navbar-item{
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: right;
}

/* Features */

.feature-img{
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-img:hover{
    color: #ff4c68;
}

#features{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 4% 0%;
    line-height: 1.5;
}

.feature-p{
    color: #8f8f8f;
    width: 70%;
    font-size: 0.9rem;
    margin: 0 auto;
}

.col-fea{
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 3%;
}

.testimonial-text{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}


.test-btn{
    position: relative;
    top: 1rem;
}


/* Press Section */

#press{
    background-color: #ef8172;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */


.pricing-col{
    padding: 3% 2%;
}

.pricing-head{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5rem;
}

.price-text{
    font-weight: 700;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
    font-size: smaller;
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    font-family: "Montserrat";
    line-height: 1.5;
    color: #fff;
}

.cta-head{
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0 auto;
}

/* Footer Section */

#footer{
    padding: 5%;
    background-color: #fff;
}

.brand{
    margin: 1rem 0.8rem;
    color: #000;
}